/** SelectCheckbox Menu **/

.titulo-label {
    font-weight:bold;
    font-size:small;
}

.panel-principal{
    width: 810.0px;
}

.panel-interno{
    width: 800.0px;
}

.noBorders tr, .noBorders td {
    /*background: none !important;*/
    border: none !important;
}

.alineacion-texto-numero{
    text-align: right;
}

.textoRojo {
     color: RED;
}

.textoAzul {
     color: #0070BB;
}